/* custom values/variables */
:root {
    --color-primary-light: hsl(180, 66%, 49%);
    --color-primary-dark: hsl(257, 27%, 26%);
    --color-red: hsl(0, 87%, 67%);
    --color-white: #fff;
    --color-light-1: hsl(0, 0%, 90%);
    --color-light-2: hsl(257, 7%, 63%);
    --color-dark-1: hsl(255, 11%, 22%);
    --color-dark-2: hsl(260, 8%, 14%);
}

/* Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a,
li {
    text-decoration: none;
    list-style-type: none;
    color: inherit;
    font-size: inherit;
}

body {
    overflow-x: hidden;
    font-size: 18px;
    color: var(--color-dark-2);
}


/* Attribution styles */
.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/* Global/shared styles */
@font-face {
    font-family: poppins;
    src: url('../src/Poppins/Poppins-Regular.ttf');
}

@font-face {
    font-family: poppins-bold;
    src: url('../src/Poppins/Poppins-SemiBold.ttf');
}

html {
    font-family: poppins, Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4 {
    font-family: poppins-bold;
}

.btn {
    display: inline-block;
    padding: 1rem 2.2rem;
    font-weight: bold;
    font-size: 18px;
    border: none;
    transition: all .2s;
}

.btn:hover {
    background-color: var(--color-light-1);
}

.btn-pink {
    color: var(--color-white);
    background-color: var(--color-primary-light);
    border-radius: 50px;
}

.copy__btn.copied {
    background-color: var(--color-primary-dark);
}

/* Mobile styles */
.padding-x {
    padding-inline: 2rem;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 7rem;
    padding-inline: 1.5rem;
    position: relative;
    color: var(--color-primary-light);
}

.nav__item,
.nav__item--mobile {
    transition: all .2s;
}

.nav__item:hover,
.nav__item--mobile:hover {
    color: var(--color-primary-dark);
}

.nav__container {
    display: none;
}

.nav__container--mobile {
    height: 100vh;
    background-color: var(--color-white);
    position: fixed;
    top: 0;
    transition: all .6s;
    padding: 4rem 3rem;
    z-index: 10;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3);
}

.nav__container--mobile.show {
    right: 0;
}

.nav__container--mobile.hide {
    right: -100%;
}

.close-menu {
    position: absolute;
    top: 2rem;
    right: 2rem;
}

.nav__items--mobile {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.header {
    display: flex;
    flex-direction: column-reverse;
    gap: 3rem;
    padding-bottom: 4rem;
    overflow-x: hidden;
}

.header__image {
    width: 100%;
}

.header__image img {
    width: 150%;
}

.header__text {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 1rem;
}

.header__heading {
    font-size: 1.8rem;
    font-weight: bold;
}

.header__paragraph {
    color: var(--color-primary-light);
}

.shorten {
    padding-top: 2rem;
    padding-bottom: 2rem;
    /* z-index: 10;
    margin-bottom: -30%; */
}

.shorten form {
    padding: 2rem;
    margin-bottom: 3rem;
    background: var(--color-dark-1);
    background-image: url('../images/bg-shorten-mobile.svg');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0.5rem;

}

.form__inputs {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
}

.error {
    color: var(--color-red);
    font-size: .9rem;
    font-weight: 500;
    bottom: -1.5rem;
    left: 0;
    position: absolute;
}

.shorten__text {
    width: 100%;
    padding: 1rem;
    border-radius: .3rem;
    outline: 0;
    font-size: 1rem;
}

.shorten__btn {
    color: var(--color-white);
    background-color: var(--color-primary-light);
    border-radius: .3rem;
    cursor: pointer;
}

.shorten__links {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.shorten__link {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    /* flex-wrap: wrap; */
    padding: 1rem;
    border-radius: .5rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    gap: 1rem;
    flex-direction: column;
}

.links {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    /* align-items: center; */
    width: 100%;
    /* flex-wrap: wrap; */
    gap: 1rem;
}

#original__link {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.copy__text {
    color: var(--color-primary-light);
}

.copy__btn {
    width: 100%;
    cursor: pointer;
    border-radius: .5rem;
    color: var(--color-white);
    background-color: var(--color-primary-light);
}

.stats {
    padding-top: 7rem;
    padding-bottom: 3rem;
    background-color: var(--color-light-1);
    text-align: center;
}

.stats__heading {
    margin-bottom: 1rem;
    font-size: 2rem;
}

.stats__paragraph {
    color: var(--color-primary-dark);
    line-height: 1.5rem;
    margin-bottom: 6rem;
}

.stats__cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 330px;
    background-color: var(--color-white);
    padding: 2rem;
    border-radius: .5rem;
    position: relative;
    padding-top: 5rem;
}

.card__icon {
    background-color: var(--color-primary-dark);
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
    display: grid;
    place-items: center;
    position: absolute;
    top: -2rem;
    left: 50%;
    transform: translateX(-50%);
}

.card__heading {
    font-size: 1.6rem;
}

.card__text {
    line-height: 1.8rem;
    font-size: 16px;
    color: var(--color-primary-lightk);
}

.boost {
    background: var(--color-dark-2);
    background-image: url('../images/bg-boost-mobile.svg');
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--color-white);
    padding-top: 4rem;
    padding-bottom: 4rem;
    text-align: center;
}

.boost__heading {
    font-size: 2rem;
    margin-bottom: 1rem;
}

footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: var(--color-dark-2);
    color: var(--color-white);
    text-align: center;
}

.footer {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    margin-bottom: 2rem;
}

.footer__item {
    margin-bottom: 1rem;
}

.footer__item:nth-child(1) {
    margin-bottom: 1.5rem;
}

.footer__link {
    color: var(--color-light-2);
}

.footer__socials {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    justify-content: center;
}


/* Small screens */
@media screen and (min-width: 640px) {
    .padding-x {
        padding-inline: 2.5rem;
    }

    .nav {
        padding-inline: 2rem;
    }
}

/* medium screens */
@media screen and (min-width: 768px) {
    .padding-x {
        padding-inline: 4rem;
    }

    .nav {
        padding-inline: 2rem;
        justify-content: none;
        gap: 3rem;
    }

    .nav__menu {
        display: none;
    }

    .nav__container {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
    }

    .nav__container--mobile {
        display: none;
    }

    .nav__items {
        display: flex;
        gap: 1rem;
        align-items: center;
    }

    .header__heading {
        font-size: 2.8rem;
    }

    .stats__cards {
        text-align: start;
    }

    /* .card {
        padding: 2rem 1.5rem;
    } */

    .card__icon {
        left: 22%;
        /* transform: translateX(-0%); */
    }

    .shorten form {
        padding: 2.5rem 3rem;
    }

    .form__inputs {
        flex-direction: row;
    }

    .footer {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 5rem;
        text-align: start;
    }

    .footer__logo {
        width: 100%;
        text-align: center;
    }

    .footer__socials {
        width: 100%;
    }
}

/* large screens */
@media screen and (min-width: 1024px) {
    .padding-x {
        padding-inline: 5rem;
    }

    .nav {
        padding-inline: 3rem;
    }

    .nav__items {
        gap: 2rem;
    }

    .header__heading {
        font-size: 4rem;
    }

    .shorten__link {
        flex-direction: row;
        align-items: center;
        padding: 1rem 2rem;
        gap: 2rem;
    }

    .links {
        flex-direction: row;
        width: 100%;
    }

    .copy__btn {
        width: fit-content;
    }

    /* .original__link {
        width: 60%;
    }

    .copy__text {
        width: 30%;
    } */

    .stats {
        padding-bottom: 7rem;
    }

    .stats__cards {
        gap: 1.5rem;
    }


    .header {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .header__text {
        text-align: left;
        align-items: flex-start;
        gap: 1.5rem;
    }

    /* .header__heading {
        font-size: 3.5rem;
    } */

    .header__image img {
        width: 120%;
    }

    .shorten form {
        background-image: url('../images/bg-shorten-desktop.svg');
    }

    .boost {
        background-image: url('../images/bg-boost-desktop.svg');
    }


    .footer__socials {
        width: auto;
        align-self: flex-start;
    }
}

/* large screens */
@media screen and (min-width: 1280px) {
    .padding-x {
        padding-inline: 7rem;
    }

    .nav {
        padding-inline: 6rem;
    }

    /* .original__link {
        width: 100%;
    }
    
    .copy__text {
        width: 100%;
    } */

    .stats {
        padding-bottom: 10rem;
    }

    .card:nth-child(1) {
        position: relative;
    }

    .card:nth-child(1)::after {
        content: '';
        display: block;
        background-color: var(--color-primary-light);
        height: 0.5rem;
        width: 700px;
        position: absolute;
        right: -700px;
        top: 50%;
    }

    .card:nth-child(2) {
        transform: translateY(3rem);
    }

    .card:nth-child(3) {
        transform: translateY(6rem);
    }

    .footer__logo {
        width: auto;
    }
}